.breve-section {
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: rgba(253, 249, 249, 0.3);
}

.imagem-breve {
    display: flex;
}

.regras {
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.regras img {
    width: 100%;
}

article {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 20px;
    padding-right: 5px;
    text-align: center;
}

#tutorial{
    position: fixed;
    bottom: 20px;
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .imagem-breve img {

        padding: 20vh;
    }

    article {
        font-size: 1rem;
        padding: 2px;
    }
}

@media (max-width: 400px) {

    article {
        font-size: 0.7rem;
        padding-bottom: 10px;
        /* padding-left: 5px;  */
    } h1{
        font-size: 1.2rem;
    }#tutorial{
        position: static;
        margin-bottom: 10px;
    }
}